<%= form_for(style) do |f| %>
  <% if style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(style.errors.count, "error") %> prohibited this style from being saved:</h2>

      <ul>
      <% style.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :brandName %>
    <%= f.text_field :brandName %>
  </div>

  <div class="field">
    <%= f.label :imageURL %>
    <%= f.text_field :imageURL %>
  </div>

  <div class="field">
    <%= f.label :styleID %>
    <%= f.text_field :styleID %>
  </div>

  <div class="field">
    <%= f.label :shopper_id %>
    <%= f.number_field :shopper_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
